<!DOCTYPE html>
<html>
  {% extends 'base.html' %}
  <head>
    {% block content %}
    <title>Edit Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2 class="my-4">Edit Contact</h2>
      <form action="{{ url_for('edit_contact', id=contact.id) }}" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ contact.name }}" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ contact.phone_number }}" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" value="{{ contact.email }}" required>
        </div>
        <div class="form-group">
          <label for="group">Group:</label>
          <select name="group" id="group" class="form-control">
            <option value="personal" {% if contact.group == 'personal' %} selected {% endif %}>Personal</option>
            <option value="business" {% if contact.group == 'business' %} selected {% endif %}>Business</option>
            <option value="family" {% if contact.group == 'family' %} selected {% endif %}>Family</option>
            <option value="friends" {% if contact.group == 'friends' %} selected {% endif %}>Friends</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Notes">Notes</label>
          <textarea class="form-control" id="notes" name="notes">{{ contact.notes }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </body>
  {% endblock %}
</html>