<!DOCTYPE html>
<html>
  <head>
    <title class="reg">Register</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}">
  </head>
  <body>
    <div class="picture-container">
     
    </div>
    
    <div class="container">
      <h2 class="text-center mt-5 mb-3">Register</h2>
      <form action="/register" method="post">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id = "usern" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirm Password:</label>
          <input type="password" class="form-control" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
      <p class="mt-3 mb-5">Already have an account? <a href="/login">Login here</a>.</p>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
